.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/* 整体设置 */
* {
    padding: 0px;
    margin: 0px;

}

body {

    font-family: PingFang SC, Lantinghei SC, Microsoft YaHei, HanHei SC, Helvetica Neue, Open Sans, Arial, Hiragino Sans GB, 微软雅黑, STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
    color: #333;
    min-width: 1500px;
    background: #ededef;
    /* background-color: pink; */
}

/* 删除所有链接的下划线 */
a {
    text-decoration: none;
    color: #333;
}

/* 删除所以列表前面的点 */
li {
    list-style: none;
}



/* 头部整体设置 */
.header-wrapper {
    height: 70px;
    width: 100%;
    background-color: white;
    z-index: 9999;
    position: fixed;
}

/* 头部内容大小位置设置 */
.header-wrapper .header {
    width: 1194px;
    height: 70px;
    /* background-color: rgb(44, 238, 118); */
    margin-right: auto;
    margin-left: auto;
}

/* logo框架设置 */
.header-wrapper .header .logo-wrap {
    height: 70px;
    width: 70px;
    /* background-color: rgb(37, 95, 223); */
    float: left;
}

/* logo内部图片设置 */
.header .logo a {
    position: absolute;
    float: left;
    width: 57.3px;
    height: 37.33px;
    background-image: url(./images/logo.png);
    background-size: cover;
    margin-top: 18px;
}

/* logo下部的一个小logo设置 */
.header-wrapper .header .logo-wrap .logo-bg {
    width: 89px;
    height: 33px;
    /* background-color: rgb(0, 0, 0); */
    position: absolute;
    top: 69px;
    background-image: url(./images/cont.png);
    background-size: cover;
    margin-left: -10px;
}

/* 广州长隆和珠海长隆 */
.header-wrapper .header .global {
    background-color: white;
    height: 28px;
    float: left;
    font-size: 14px;
    border-radius: 14px;
    border: 1px solid #46897d;
    margin-top: 22px;
    margin-left: 13px;
}

/* 广州长隆 */
.header-wrapper .header .global .left {
    float: left;
    border-radius: 14px;
    padding: 5px 15px;
    color: #A6CE39;
}

/* 珠海长隆 */
.header-wrapper .header .global .right {
    float: left;
    border-radius: 14px;
    padding: 5px 15px;
    color: #005baa;
}

/* 右侧li设置 */
.header-wrapper .header .right li {
    float: right;
    margin-right: 5px;
    padding-top: 24px;
}

/* 搜索图标位置框架设置 */
.header-wrapper .header .right .search-wrap {
    margin-top: -5px;
    /* background-color: blue; */
}

/* 搜索图标大小设置 */
.header-wrapper .header .right .search {
    font-size: 22px !important;
}

/* 设置会员字体大小 */
.header-wrapper .header .right .number .huiyuan-wrap .text {
    font-size: 14px;
}

/* 左侧导航浮动 */
.header-wrapper .header .left {
    float: right;
}

/* 左侧li设置 */
.header-wrapper .header .left li {
    float: left;
    padding: 0 10px;
    line-height: 70px;
}

/* 设置a作为相对定位 */
.header-wrapper .header .left li a {
    position: relative;
}

/* 对动植物研创院下方英文字母的设置 */
.header-wrapper .header .left li p {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
    line-height: 1.4;
}

/* 鼠标移动到左侧的变色效果 */
.header-wrapper .header .left li:hover a {
    color: #a6ce39;
}

/* 鼠标移动到右侧的变色效果 */
.header-wrapper .header .right a:hover {
    color: #a6ce39;

}

/* 设置首页下方下划线 */
/* a为相对定位 */

.header-wrapper .header .left .shouye {
    position: relative;
}

/* 下划线设置 */
.header-wrapper .header .left .icon-line {
    width: 52px;
    height: 5px;
    background-color: #a6ce39;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.middle {
    padding-top: 70px;
    height: 617.33px;
    /* background-color: rgb(2, 218, 92); */
}

/* 背景图片 */
.picture-wrap {
    width: 100%;
    /* height: 1230.67px; */
    overflow: hidden;
    display: flex;
    background-image: url(./images/picture22.jpg);
    background-size: cover;
}


/* 背景图片中部导航栏 */
.picture-wrap .banner-wrap {
    /* max-width: 990px; */
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    margin-top: 427px;
    background: hsla(0, 0%, 100%, .9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

/* 表格整体设置以及外框 
.form {
    width: 960px;
    height: 114.67px;
    background: hsla(0, 0%, 100%, .9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 500px;
    left: 369px;
}
*/
/* 表格内容设置 */
.picture-wrap .banner-wrap .container {
    float: left;
    /* background-color: rgb(58, 39, 223); */
    padding-right: 15px;
    padding-left: 52px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 27px;
}

/* 每一个小表格整体设置 */
.picture-wrap .banner-wrap .container .form {
    float: left;
    /* background-color: rgb(26, 173, 92); */
}

/* 对于边框设置 */
.border {
    position: relative;
    background-color: #fff;
    border: 1px solid #a7a9ac;
    margin: 0 5px;
    height: 28px;
    border-radius: 15px;
}

/* 边框里面的文字设置 */
.picture-wrap .banner-wrap .container .form .text,
.picture-wrap .banner-wrap .container .form .text2 {
    line-height: 28px;
    margin: 0px 35px;
    font-size: 14px;
}

/* 后两个位置设置 */
.picture-wrap .banner-wrap .container .form .text2 {
    right: 0;
    margin-left: 20px;
    margin-right: 0px;
}

/* 中部的导航上部分的文字设置 */
.tips {
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 3px;
}

/* 设置下拉小箭头通过css实现 */
.picture-wrap .banner-wrap .container .form .text:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: none;
    position: absolute;
    border: 4px black solid;
    border-color: transparent;
    border-top-color: black;
    top: 50%;
    margin-top: -2px;
    margin-left: 10px;
}

/* 入住and退房右侧日历小图标位置设置 */
.rili {
    margin-right: 20px;
    margin-top: -2px;
}

/* 立即预定框架设置 */
.picture-wrap .banner-wrap .container .yuding {
    width: 124px;
    height: 40px;
    background-color: #a6ce39;
    color: white;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 7px 12px 0 rgba(166, 206, 57, .5);
}

/* 立即预定文字设置 */
.yuding span {
    position: relative;
    top: 10px;
    left: 29.5px;
    font-weight: bolder;
    font-size: 16px;
}

/* 下面的修饰环状绿色图片设置 */
.s-img-wrap {
    width: 100%;
    background-image: url(./images/s-img.png);
    position: absolute;
    height: 134.72px;
    /* background-color: rgb(0, 0, 0); */
    background-size: cover;
    margin-top: 425px;
}

/* 环状下面选择图片的选择器框架设置 */
.picture-wrap .choice-wrap {
    height: 20px;
    width: 100%;
    position: absolute;
    margin-top: 600px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 图片轮播图标整体设置 */
.picture-wrap .choice-wrap .choice {
    float: left;
    height: 10px;
    border-radius: 5px;
    background-color: #A6CE39;
    margin: 0 5px !important;
}

/* 图片轮播图标第一个设置 */
.picture-wrap .choice-wrap .choice1 {
    width: 60px;
}

/* 图片轮播图标第二三个设置 */
.picture-wrap .choice-wrap .choice2,
.picture-wrap .choice-wrap .choice3 {
    width: 10px;
    /* margin: auto; */
    /* text-align: center; */
}

/* 长隆and珠海行程推荐框架 */
.travel-wrap {
    height: 40px;
    width: 100%;
    margin: 55px 0;
    /* background-color: rgb(243, 3, 3); */

}

/* 长隆and珠海行程推荐内容整体设置 */
.travel-wrap .container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 40px;
    /* background-color: rgb(146, 16, 221); */
}

/* 边框设置 */
.travel-wrap .item {
    width: 253px;
    padding: 0 15px;
    height: 40px;
    float: left;
    text-align: center;
    border-radius: 20px;
}

/* 第一个框框 */
.travel-wrap .item1 {
    float: left;
    background: #46897d;
    box-shadow: 0 7px 12px 0 rgba(70, 137, 125, .5);

}

/* 第二个框框 */
.travel-wrap .item2 {
    float: right;
    background: #005aaa;
    box-shadow: 0 7px 12px 0 rgba(0, 91, 170, .5);
}

/* 文字设置 */
.travel-wrap .container .text {
    font-style: normal;
    color: #fff;
    font-style: 16px;
    padding-right: 5px;
    font-weight: 700;
    line-height: 40px;
}

/* 文字右边箭头设置 */
.travel-wrap .container .jiantou {
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
    margin-top: -2px;
    border: 2px solid #fff;
}

/* 行程推荐框架 */
.trip-wrap {
    /* height: 489.05px; */
    width: 1164px;
    margin: 0 auto;
}

/* 行程推荐文字 */
.trip-wrap .title-wrap {
    height: 32.67px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #4c4c4c;
    margin: 0 auto 30px;
    /* background-color: rgb(68, 230, 28); */
}

/* 行程推荐文字设置 */
.trip-wrap .title-wrap h2 {
    font-weight: 400;
}

/* 行程推荐内容 */
.trip-wrap .container {
    height: 489.05px;
    width: 100%;
    position: relative;
}

/* 内容框架 */
.trip-wrap .container .swiper {
    width: 381.33px;
    height: 100%;
    background-color: rgb(215, 230, 10);
    float: left;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .1);
}

/* 第一第二个位置设置 */
.trip-wrap .container .swiper1 {
    margin-right: 10px;
}

/* 图片设置 */
.trip-wrap .container .swiper img {
    width: 100%;
}

/* 图片下部内容框架 */
.trip-wrap .container .swiper .text-wrap {
    position: absolute;
    height: 182.66px;
    width: 381.33px;
    /* background-color: rgb(90, 22, 200); */
    bottom: 0;
}

/* 绿色半圆 */
.trip-wrap .container .swiper .text-wrap .layer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* 文字整体框架 */
.trip-wrap .container .swiper .text-cont {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

/* 图片框架 */
.trip-wrap .container .swiper .text-cont .pic {
    margin-bottom: 10px;
}

/* 文字上方全部小图标设置 */
.trip-wrap .container .swiper .text-cont .pic img {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -11px 0;
}

/* 文字设置 */
.trip-wrap .container .swiper .text-cont h2 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

/* 热门推荐框架 */
.recommed-wrap {
    margin-top: 50px;
    height: 810px;
    width: 100%;
    /* background-color: rgb(241, 67, 67);  */
}

/* 动物背景图片（暂未完成） */
.background {
    position: absolute;
    top: 1046px;
    width: 650px;
    height: 100%;
    left: 1010px;
    background-repeat: no-repeat;
    background-image: url(./images/left-pic\(1\).png);
    z-index: -1;
    background-size: auto;
    /* max-width: 600px;
    overflow: hidden; */
    right: 0;

}

.background img {
    width: 200px;
    height: 100px;
    position: absolute;
    /* right: -150px; */
    opacity: 1;
    display: block;
    /* margin-left: 700px; */
    right: 0px;
}

/* 热门推荐内容整体框架 */
.recommed-wrap .container {
    width: 1194px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    /* background-color: rgb(113, 124, 228); */
}

/* 热门推荐文字设置 */
.recommed-wrap .container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
}

/* 广州珠海选择图标框架设置 */
.recommed-wrap .container .gzzh-wrap {
    position: relative;
    border-radius: 14px;
    width: 172px;
    color: #fff;
    font-size: 14px;
    height: 28px;
    margin: 0 auto;
    line-height: 28px;
    border: 1px solid #005baa;
    position: relative;
    /* background-color: rgba(159, 98, 161, 0.692); */
}

/* 广州长隆设置 */
.recommed-wrap .container .gzzh-wrap .gz-wrap {
    float: left;
    left: -1px;
    top: -1px;
    color: #005baa;
    padding: 0 15px;
}

/* 珠海长隆设置 */
.recommed-wrap .container .gzzh-wrap .zh-wrap {
    float: left;
    /* padding-left:1px; */
    background: #005baa;
    border-radius: 14px;
    padding: 0 15px;
    right: 5px;
}

/* 下方内容设置 */
.container .row-wrap {
    height: 674.33px;
    width: 100%;
    /* background-color: #a6ce39; */
    margin-top: 30px;
}

/* row所有内容间距设置 */
.container .row-wrap .pic {
    padding: 0 5px;
}

/* row里面所有文字设置 */
.container .row-wrap h4 {
    font-weight: 400;
    line-height: 1.4;
    font-size: 18px;
    margin: 15px 0;
}

/* 第一二行 */
.container .row-wrap .row {
    margin: 0 -5px 25px;
    height: 324.67px;
    width: 100%;
    /* background-color: rgb(85, 14, 216); */
}

/* 第一张图片 */
.container .row-wrap .row1 .pic1-1,
.container .row-wrap .row2 .pic2-3 {
    width: 576px;
    height: 100%;
    float: left;
    /* background-color: rgb(89, 207, 124); */
}

/* row所有图片设置 */
.container .row-wrap .img {
    width: 100%;
    height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.container .row-wrap .row1 .pic1-2,
.container .row-wrap .row1 .pic1-3,
.container .row-wrap .row2 .pic2-1,
.container .row-wrap .row2 .pic2-2 {
    width: 283px;
    height: 100%;
    float: left;
}

/* 导入图片 */
.container .row-wrap .row1 .pic1-1 .img {
    background-image: url(./images/pic1-1.jpg);
}

.container .row-wrap .row1 .pic1-2 .img {
    background-image: url(./images/pic1-2.jpg);
}

.container .row-wrap .row1 .pic1-3 .img {
    background-image: url(./images/pic1-3.jpg);
}

.container .row-wrap .row2 .pic2-1 .img {
    background-image: url(./images/pic2-1.jpg);
}

.container .row-wrap .row2 .pic2-2 .img {
    background-image: url(./images/pic2-2.jpg);
}

.container .row-wrap .row2 .pic2-3 .img {
    background-image: url(./images/pic2-3.jpg);
}

/* 新闻资讯整体框架 */
.new-wrap {
    height: 688.67px;
    width: 100%;
    /* background-color: rgb(195, 40, 40); */
    margin-top: 25px;
    margin-bottom: 150px;
}

/* 新闻资讯标题框架设置 */
.new-wrap .title-wrap {
    height: 32.67px;
    margin-bottom: 30px;
}

/* 标题设置 */
.new-wrap .title-wrap h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 32.67px;
}

/* 下方内容框架设置 */
.new-wrap .new-container {
    width: 1164px;
    margin: 0 auto;
    height: 574px;
    /* background-color: rgb(37, 235, 152); */
}

/* 查看更多框架设置 */
.new-wrap .new-container .see-more-wrap {
    height: 33px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    /* background-color: rgb(202, 53, 158); */
}

/* 查看更多 */
.new-wrap .new-container .see-more-wrap span {
    border: 1px solid #333;
    padding: 8px 26px;
    line-height: 32px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}

/* 下方内容设置 */
.new-wrap .new-container .container {
    margin: 0 auto;
    padding: 50px 35px 40px;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .1);
}

.new-wrap .new-container .container .content {
    width: 1114px;
    height: 484px;
    /* background-color: rgb(19, 202, 25); */
    position: relative;
}

/* 左边 */
.new-wrap .new-container .container .content .left {
    float: left;
}

/* 左背景图片 */
.new-wrap .new-container .container .content .bg {
    border-radius: 20px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .1);
}

/* 左文字框架设置 */
.new-wrap .new-container .container .content .text {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 15px 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(166,206,57,.8);
}

/* 整体文字设置 */
.new-wrap .new-container .container .content .text .h4 {
    position: relative;
    margin-bottom: 5px;
}

/* 文字 */
.new-wrap .new-container .container .content .text .zi {
    padding-right: 123px;
}

/* 日期 */
.new-wrap .new-container .container .content .text .shu {
    font-size: 16px;
}

/* 右方框架设置 */
.new-wrap .new-container .container .content .right {
    float: left;
}

/* 整体框架 */
.new-wrap .new-container .container .content .right .list-wrap {
    position: relative;
    top: 50%;
    height: 484px;
    padding-left: 20px;
    padding-right: 10px;
    width: 589.99px;
    left: 0;
    /* background-color: rgb(213, 57, 138); */
}

/* 每个小格称作media */
.new-wrap .right .media {
    height: 146.5px;
    width: 589.99px;
}

/* 小格的左边 */
.new-wrap .right .media .media-left {
    float: left;
    padding-right: 20px;
}

/* media所有图片设置 */
.new-wrap .right .media .img {
    width: 140px;
    height: 140px;
    display: block;
    border-radius: 20px;
    overflow: hidden;
}

/* 图片大小设置 */
.new-wrap .right .media img {
    width: 100%;
}

/* 小格右边的文字 */
.new-wrap .right .media .media-body .media-head {
    font-weight: bolder;
    line-height: 1.4;
    font-size: 18px;
}

/* 小格右边的按钮 */
.new-wrap .right .media .media-body .c-button {
    margin-top: 25px;
    font-size: 16px;
    font-weight: bolder;
    line-height: 16px;
    color: #fff;
}

.new-wrap .right .media .media-body .c-button span {
    background: #a6ce39;
    box-shadow: 0 7px 12px 0 rgba(166, 206, 57, .5);
    padding: 12px 48px;
    border-radius: 20px;
}

/* 小格下方的下划线 */
.new-wrap .right .list-wrap .line:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #cecece;
    margin: 15.5px auto
}

/* 底部的一个白色图片 */
.foot-pic img {
    width: 100%;
    margin: 0;
    background: #ededef;
}


.footer {
    background-color: #f6f6f7;
    
}
/* 底部框架 */
.foot-wrap {
    width: 1047.6042px;
    height: 316px;
    background-color: #f6f6f7;
    margin: 0 auto;
    
}

/* 底部框架 */
.foot-wrap .list-wrap {
    width: 80%;
    /* background-color: rgb(109, 111, 224); */
    float: left;
    height: 266px;
    margin-top: 50px;
}

.foot-wrap .list-wrap .list {
    float: left;
    width: 20%;
    /* padding-right: 10px; */
    /* background-color: rgb(67, 188, 80); */
}

.foot-wrap .list-wrap .list .text h5 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.foot-wrap .list-wrap .list ul li a {
    color: #a7a9ac;
    line-height: 26px;
}

.foot-wrap .row-wrap {
    width: 20%;
    float: right;
    margin-top: 50px;
    /* background-color: rgb(175, 147, 197); */
}

.foot-wrap .row-wrap .item {
    width: 50%;
    float: left;
  
}

.foot-wrap .row-wrap .item img {
    margin: 0 auto ;
    width: 74.77px;
}

.foot-wrap .row-wrap .item p{
    margin-top: 10px;
    padding-left: 5px;
}

.footer .loginway {
    height: 46px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
   
}

.footer .loginway a {
    display: inline-block;
}

.footer .loginway .way {
    font-size: 26px;
    color: #656868;
    border: 1px solid #333;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    vertical-align: middle;
    margin: 20px;
    line-height: 46px;
}

.phone-wrap {
    height: 72.33px;
    width: 100%;
    margin-top: 50px;
    /* background-color: rgb(80, 70, 70); */
}

.phone-wrap .container {
    text-align: center;
}

/* 让电话和文字并列 */
.phone-wrap .container i ,
.phone-wrap .container h3 {
    display:inline-block;
}


.phone-wrap .container .phone-top .button {
    background-color: #a6ce39!important;
    box-shadow: 0 7px 12px 0 rgba(166,206,57,.5);
    font-size: 16px;
    font-weight: bolder;
    line-height: 16px;
    color: #fff;
    padding: 12px 48px;
    border-radius: 20px!important;
    border: none;
    transition: none;
    background: none;
    display: inline-block;
}

.phone-wrap .container .phone-top .button h3 {
    font-size: 16px;
    margin-left: 5px;
}

.phone-wrap .container .phone-top .button i {
    font-size: 18px;   
}

.phone-wrap .container .phone-top p {
    color: #a7a9ac;
    font-size: 12px;
    margin-top: 15px;
}

.footer .foot-text {
    margin-bottom: 20px;
   
    margin: 0 auto;
    width: 1047.6px;
    height: 20px;
    /* background-color: rgb(166, 140, 140); */
    text-align: center;
}

.footer .foot-text .container {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    /* background-color: rgb(238, 96, 96); */
}

.footer .foot-text .container .con {
    margin: 0 15px;
    display: inline-block;
}

.footer .foot-text02 {
    margin: 20px auto;
    width: 100%;
    text-align: center;

}

.footer .foot-text02 a ,
.footer .foot-text02 p{
    font-size: 14px;
    color: #a7a9ac;
    display: inline-block;
    padding: 0 12.25px;
}

.police-wrap {
    width: 300px;
    hieght: 64.67px;
    margin: 0 auto;
    padding: 20px 0;
}

.police-wrap img,
.police-wrap p {
    float: left;
}

.police-wrap p {
    font-size: 16px;
    padding-left: 5px;
    color: #939393;
}

.copyright-wrap{
    height: 40.67px;
    width: 100%;
    background: #a6ce39;
    margin-top: 30px;
    text-align: center;
}

.copyright-wrap .bottom p{
    color: #fff;
    font-size: 14px;
    line-height: 40.67px;
}