@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649053094085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-weibo:before {
  content: "\e63e";
}

.icon-huiyuanjulebu:before {
  content: "\e73a";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-youjiantou:before {
  content: "\e79c";
}

.icon-search:before {
  content: "\e741";
}

.icon-packup:before {
  content: "\e749";
}

.icon-dianhua:before {
  content: "\e614";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-icon_rili:before {
  content: "\e557";
}

